<header id="header" class="site-header is-transparent">
  <div class="container-fluid">
    <div class="header-container">
      <div class="d-flex gap-4">
        <div class="icon">
          <a>
            <svg
              width="30px"
              height="14px"
              viewBox="0 0 30 14"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
            >
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g transform="translate(-50.000000, -33.000000)" fill="#111111">
                  <g id="off-menu" transform="translate(50.000000, 28.000000)">
                    <g id="icon-menu" transform="translate(0.000000, 5.000000)">
                      <rect
                        id="Rectangle-1"
                        x="0"
                        y="0"
                        width="30"
                        height="3"
                        rx="1.5"
                      ></rect>
                      <rect
                        id="Rectangle-2"
                        x="0"
                        y="11"
                        width="20"
                        height="3"
                        rx="1.5"
                      ></rect>
                    </g>
                  </g>
                </g>
              </g>
            </svg>
          </a>
        </div>

        <div class="logo">
          <a href="/">
            <img
              src="../../../assets/images/logo-dark.png"
              style="width: 200px"
              alt="Client"
            />
          </a>
        </div>
      </div>

      <div class="header-center">
        <ul>
          <li class="li-links">
            <a href="/">Home</a>
          </li>
          <li class="li-links">
            <a href="/Home#Industries">Industries</a>
          </li>
          <li class="li-links">
            <a href="/Home#OurSolutions">Solutions</a>
          </li>
          <li class="li-links">
            <a href="/Home#Plans">Plans</a>
          </li>
          <li class="li-links">
            <a href="/ContactUs">Contact Us</a>
          </li>
          <li class="li-links">
            <a href="/SystemDemo">System Demo</a>
          </li>
        </ul>
      </div>
      <div class="header-right">
        Let's Talk
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="white"
          class="bi bi-arrow-right"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"
          />
        </svg>
      </div>
    </div>
  </div>
</header>
