#header {
    box-shadow: 0 5px 75px 2px rgba(64, 70, 74, 0.2) !important;
}

.site-header.is-transparent {
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
    background-color: transparent;
    padding: 18px 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.li-links {
    a {
        color: white;
        text-decoration: none;
        font-weight: 500;
        font-size: 16px;
    }
}

.icon {
    display: none;
}

.header-right {
    background-image: linear-gradient(to right, #2050a0, #249ce0);
    color: white;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 28px;
    height: 46px;
    border-radius: 20px;
}

@media (max-width: 980px) {
    .header-center {
        display: none;
    }

    .icon {
        display: flex;
        align-items: center;
    }
}