<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Troubleshooting Guide #101</h5>
    <button type="button" class="btn-close" (click)="close()"></button>
  </div>
  <div class="modal-body">
    <p>
      1. Adjust aeration rate and mixing: Ensure optimal levels of aeration and
      mixing in the activated sludge reactor. Increasing aeration can enhance
      the microbial activity, facilitating better degradation of organic
      compounds and improving COD reduction.<br /><br />
      2. Monitor and adjust nutrient levels: Check the levels of essential
      nutrients such as nitrogen and phosphorus in the wastewater. Adjusting
      nutrient supplementation can stimulate microbial growth and metabolism,
      thereby enhancing COD reduction efficiency.<br /><br />
      3. Increase sludge retention time (SRT): Extend the duration that
      activated sludge remains in the reactor to allow for more thorough
      degradation of organic matter by microbial communities. Increasing SRT can
      enhance the efficiency of COD removal.<br /><br />
      4. Optimize pH levels: Maintain appropriate pH levels in the wastewater
      treatment system to support the growth and activity of microorganisms
      responsible for COD degradation. pH levels outside the optimal range can
      inhibit microbial activity and reduce COD reduction efficiency.<br /><br />
      5. Perform sludge wasting and biomass management: Regularly remove excess
      biomass (waste activated sludge) from the system to prevent biomass
      accumulation and maintain optimal microbial population dynamics. Proper
      management of biomass can improve overall system performance and COD
      reduction.
    </p>
  </div>
  <div class="modal-footer">
    <button
      (click)="close()"
      type="button"
      class="btn btn-secondary"
      data-bs-dismiss="modal"
    >
      Close
    </button>
  </div>
</div>
