<app-header></app-header>

<section class="top-row">
  <div style="padding: 20px">
    <div class="row">
      <div class="col-lg-4">
        <div class="CustomBox">
          <p class="text-center">Complete System</p>
          <div class="row">
            <div class="col-lg-6">
              <img
                src="../../../assets/images/meter.png"
                style="max-width: 150px"
              />
            </div>
            <div class="col-lg-6">
              <div id="chartContainer0" echarts [options]="chartOption"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div
          class="CustomBox swiper-container d-flex align-items-center"
          (mouseenter)="navShow = true"
          (mouseleave)="navShow = false"
        >
          <swiper
            [slidesPerView]="3"
            [spaceBetween]="50"
            [navigation]="navShow"
          >
            <ng-template swiperSlide>
              <div class="d-flex flex-column justify-content-between">
                <h4 class="c-w">55</h4>
                <p>TSS</p>
                <div class="swiper-content-btn">Chem Precipitation</div>
              </div>
            </ng-template>
            <ng-template swiperSlide>
              <div class="d-flex flex-column justify-content-between">
                <h4 class="c-w">47</h4>
                <p>COD Reduction</p>
                <div class="swiper-content-btn">ASP</div>
              </div>
            </ng-template>
            <ng-template swiperSlide>
              <div class="d-flex flex-column justify-content-between">
                <h4 class="c-w">1500</h4>
                <p>MLSS</p>
                <div class="swiper-content-btn">ASP</div>
              </div>
            </ng-template>
            <ng-template swiperSlide>
              <div class="d-flex flex-column justify-content-between">
                <h4 class="c-w">700</h4>
                <p>Bottom SV</p>
                <div class="swiper-content-btn">Clarifier</div>
              </div>
            </ng-template>
          </swiper>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="main">
  <ng-container *ngFor="let item of chartsData">
    <app-chart
      [chartOption]="item.chartOption"
      [heading]="item.heading"
      [subHeading]="item.subHeading"
      [popoverBodyData]="item.popoverBodyData"
      [popoverChartOption]="item.popoverChartOption"
      [title]="item.title"
    ></app-chart>
  </ng-container>
</div>

<app-table></app-table>
