.main {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

//top row

.CustomBox {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  text-align: center;
  height: 160px;
  padding-top: 3px;
  background-color: #06152b;
  box-shadow: 0px 0px 5px 0px #000000;

  p {
    font-size: 12px;
    color: #fff;
    text-transform: capitalize;
    font-weight: bold;
    font-family: Lucida Grande, Lucida Sans Unicode, Arial, Helvetica,
      sans-serif;
  }
}

.swiper-container {
  padding: 0 10px;
}

#chartContainer0 {
  height: 120px;
  padding-bottom: 20px;
}

//craousal

.c-w {
  color: white;
}

.swiper-content-btn {
  border-radius: 20px;
  background-color: #122744;
  width: 100%;
  font-size: 14px;
  font-weight: 300;
  padding: 6px 10px;
  color: white;
  line-height: 1;
}